.container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;

  ::ng-deep {

    .mat-tab-header {
      margin-bottom: 30px;
    }

    .mat-tab-labels {
      justify-content: space-between;
    }
  }
}

.search-wrap {
  display: flex;
}

.title {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.received-repos {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.list-wrap {
  width: 100%;
  height: calc(100vh - 380px);
  overflow: auto;

  &__button-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
